
svg:not(:root) {
    z-index: 1;
}

#timeline {
    background: url(../img/patternlight.png);
}

#no_margin {
    margin-left: 0px;
    margin-right: 0px;
}

body {
    background: url(../img/patternlight.png);
	padding-top: 51px;
	/* stop native surface actions */
	-ms-touch-action: none !important;
}

.username {
    color: #00FF00;
}

@media(max-width:767px) {
    body {
        padding-right: 0px;
        padding-left: 0px;
    }

}

.container .btn-group,
.container .navbar-btn,
.container #MultiSelectStatus,
.container #login {
	padding-right: 15px;
	padding-left: 15px;
}

#paper {
	overflow-x: hidden;
}

#tourbutton {
	margin-right:15px;
}

/* #play-buttons { */
/*     position: absolute; */
/*     z-index: 2; */
/* } */

#ModeLink {
    font-size: 16px;
    color: white;
    margin-top: 0px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
}

/* #MultiSelectStatus { */
/* 	display: inline-block; */
/* } */

/* #FileOptions, #proofplayer { */
/* 	margin-top:4px; */
/* } */

.navbar {
    background: url(../img/patterndark.png);
    margin-bottom: 0px;
	position: absolute;
}

.navbar .navbar-container {
	width: 100%;
	max-width: none;
	padding-right: 20px;
	padding-left: 20px;
}

#proofplayer {
	text-align: center;
}

.shadow-blue:hover {
	-moz-transition: box-shadow 200ms;
	-webkit-transition: box-shadow 200ms;
	transition: box-shadow 200ms;
	-moz-box-shadow:    0px 0px 7px 0px #285e8e;
	-webkit-box-shadow: 0px 0px 7px 0px #285e8e;
	box-shadow:         0px 0px 7px 0px #285e8e;
}

.shadow-red:hover {
	-moz-transition: box-shadow 200ms;
	-webkit-transition: box-shadow 200ms;
	transition: box-shadow 200ms;
	-moz-box-shadow:    0px 0px 7px 0px #d43f3a;
	-webkit-box-shadow: 0px 0px 7px 0px #d43f3a;
	box-shadow:         0px 0px 7px 0px #d43f3a;
}

.loadable-proof {
	padding: 10px;
}
.three-quarters-save {
	width: 10px !important;
	height: 10px !important;
	border-width: 2px !important;
	border-top-color: #FFF !important;
	border-left-color: #FFF !important;
	border-bottom-color: #FFF !important;
}

.load-state {
	margin: 0 auto;
	float: left;
}
