<!DOCTYPE html>
<html lang="en">
	<head>
	{% include 'templates/imports.html' %}
	{% include 'templates/modals.html' %}
	</head>
	<body>
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="navbar-container container">
			<a class="navbar-brand" href="#">Peirce Logic</a>
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle Navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-left">
					<li>
						<div class="btn-group" id="FileOptions">
							<button id="newButton" type="button" class="btn navbar-btn btn-success">
								<span class="glyphicon glyphicon-file"></span>
							</button>
							<button id="loadButton" data-toggle="modal" href="#loadModal" class="btn navbar-btn btn-danger">
								<span class="glyphicon glyphicon-folder-open"></span>
							</button>
							<button id="saveButton" data-toggle="modal" href="#saveModal" class="btn navbar-btn btn-primary">
								<span class="glyphicon glyphicon-floppy-disk"></span>
							</button>
						</div>
					</li>
					<li>
						<span id="MultiSelectStatus"></span>
					</li>
					<!--
					<li>
						<button id="tempButton" data-toggle="modal" href="#tempModal" class="btn navbar-btn btn-info">
							<span class="glyphicon glyphicon-book"></span>
						</button>
					</li>
					-->
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<button id="goalbutton" type="button" class="btn btn-danger navbar-btn" disabled=true value="goGoal">See Goal</button>
					<div class="btn-group" id="rightButts">
						<div class="btn-group no-padding" id="infoButt">
							<button type="button" class="btn navbar-btn btn-default dropdown-toggle" data-toggle="dropdown" id="helpButt">
								<span class="glyphicon glyphicon-question-sign"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li><a id="tourbutton" href="#">Take the tour!</a></li>
							</ul>
						</div>
						<div class="btn-group no-padding" id="cogButt">
							<button type="button" class="btn navbar-btn btn-default dropdown-toggle" data-toggle="dropdown" id="settingsButt">
								<span class="glyphicon glyphicon-cog"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
								{% if username %}
									<li><a href="#">{{username}}</a></li>
								{% endif %}
								<li>{{logButt}}</li>
							</ul>
						</div>
					</div>
				</ul>
			</div>
		</div>    <!-- End of navbar-container -->
	</div>
	<div id="paper"></div>
	<div id="minimap"></div>
	<div id="goalAlert"></div>
	<div class="col-sm-12" id="ModeLinkContainer" type="button"></div>
	<div class="bottom-butts">
		<div class="btn-group text-center" id="proofplayer">
			<button class="btn navbar-btn btn-default" id="backwardtick">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</button>
			<button disabled="disabled" class="btn navbar-btn btn-default" id="toggleplay">
				<span class="glyphicon glyphicon-play"></span>
			</button>
			<button disabled="disabled" class="btn navbar-btn btn-default" id="forwardtick">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</button>
		</div>
	</div>
	<div id="timeline"></div>
	</body>
</html>
