<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Peirce Logic</title>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
    
        <!-- Favicon -->
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    
        <!-- Bootstrap -->
        <link href="../css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="../css/bootstrap-responsive.min.css" rel="stylesheet">
        
        <!-- Bootstrap Tour -->
        <link href="../css/bootstrap-tour.min.css" rel="stylesheet">
    
        <!-- Smoke -->
        <link rel="stylesheet" href="../css/smoke.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="../css/smoke_100theme.css" type="text/css" media="screen" />
    
        <!-- Styles --><!--
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/normalize.css"> -->
        <link rel="stylesheet" href="../css/style.css">
    
        <!-- Libraries -->
        <script src="../js/libs/boilerplate/vendor/jquery-1.8.0.min.js" type="text/javascript"></script>
        <script src="../js/libs/boilerplate/plugins.js" type="text/javascript"></script>
        <script src="../js/libs/raphael-min.js" type="text/javascript"></script>
        <script src="../js/libs/mousetrap.min.js" type="text/javascript"></script>
        <script src="../js/libs/bootstrap/bootstrap.min.js" type="text/javascript"></script>
        <script src="../js/libs/smoke.min.js" type="text/javascript"></script>
        <script src="../js/libs/bootstrap/bootstrap-tour.min.js" type="text/javascript"></script>
    
        <!-- Peirce Logic -->
        <script src="../js/utils/list.js" type="text/javascript"></script>
        <script src="../js/utils/utility.js" type="text/javascript"></script>
        <script src="../js/Peirce.js" type="text/javascript"></script>
        <script src="../js/proof/proof.js" type="text/javascript"></script>
    
        <script src="../js/inference_rules/inference_rules.js" type="text/javascript"></script>
        <script src="../js/inference_rules/available_rules.js" type="text/javascript"></script>
        <script src="../js/inference_rules/cuts.js" type="text/javascript"></script>
        <script src="../js/inference_rules/erasure.js" type="text/javascript"></script>
        <script src="../js/inference_rules/insertion.js" type="text/javascript"></script>
        <script src="../js/inference_rules/iteration.js" type="text/javascript"></script>
    
        <script src="../js/proof/save_load_proof.js" type="text/javascript"></script>
        <script src="../js/level/node.js" type="text/javascript"></script>
        <script src="../js/proof/automated_proof.js" type="text/javascript"></script>
        <script src="../js/level/level.js" type="text/javascript"></script>
        <script src="../js/level/level_visual.js" type="text/javascript"></script>
        <script src="../js/level/level_equivalence.js" type="text/javascript"></script>
        <script src="../js/level/variable.js" type="text/javascript"></script>
    
        <script src="../js/gui/context_menu.js" type="text/javascript"></script>
        <script src="../js/gui/minimap.js" type="text/javascript"></script>
        <script src="../js/mode_handler.js" type="text/javascript"></script>
        <script src="../js/gui/branches.js" type="text/javascript"></script>
    
        <script src="../js/tour.js" type="text/javascript"></script>
    </head>
    <body>
        <div role="main">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <a class="navbar-brand" href="#">Peirce Logic</a>
                    <p class="navbar-text pull-right">
                        {{greeting}}
                    </p>
                    <button id="tourbutton" type="button" class="btn btn-primary btn-sm navbar-btn">
                        Take the tour!
                    </button>
                </div>
            </div>
            <div id="paper"></div>
            <div id="minimap"></div>
            <div class="row">
                <div class="col-sm-12" id="ModeLink" type="button"></div>
            </div>
            <div id="timeline"></div>
        </div>
    </body>
</html>
