<!DOCTYPE html>
<html lang="en">
	<head>
		{% include 'templates/imports.html' %}
	</head>
	<body>
		<div class="navbar navbar-inverse narvar-fixed-top">
			<div class="container">
				<a class="navbar-brand" href="/">Peirce Logic</a>
				<p class="navbar-text pull-right">
						{{greeting}}   
				</p>
				<div class="btn-group pull-right" style="margin-top:6px">
					<button data-toggle="modal" href="#loadModal" class="btn btn-danger">
						<span class="glyphicon glyphicon-folder-open"></span>
					</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 col-md-offset-10">
				<div id="play-buttons" class="btn-group">
					<button class="btn btn-primary">Foo</button>
					<button class="btn btn-warning">Bar</button>
					<button class="btn btn-danger">Qux</button>
					<button class="btn btn-success">Qux</button>
				</div>
			</div>
		</div>
		<div id="paper"></div>
		{% include 'templates/modals.html' %}
	</body>
</html>